%html
  %head
    = render :header
  %body
    %div{:"data-role" => 'page', id: 'index'}
      %div{:'data-role' => 'content'}
        = render "forside"
      = navigation "Forside"        
        
    %div{:"data-role" => 'page', id: 'pictures'}
      %div{:'data-role' => 'header', :'data-position' => 'fixed', :"data-theme" => "c",
           id: 'pictures-toolbar'}
        %div{:'data-role' => 'navbar', class: 'picture_buttons',
             :'data-iconpos' => 'left'}
          %ul
            %li
              %a{href: "#", id: 'take_picture_button', :'data-icon' => "custom",
                 :'data-role' => 'button'}
                Tag billede
            %li
              %a{href: "#", id: 'upload_picture_button', :'data-icon' => "custom",
                 :'data-role' => 'button'}
                Upload billede
        %ul.status_bar

      %div{:'data-role' => 'content'}
        = render 'pictures'
      = navigation "Billeder"

    %div{:"data-role" => 'page', id: 'info'}      
      %div{:'data-role' => 'content'}
        = render 'info'        
      = navigation "Praktisk Info" 

    %div{:"data-role" => 'page', id: 'act_code_form'}
      %div{:'data-role' => 'content'}
        = render 'act_code_form'
      = navigation "Billeder" 

    = render :javascript
