%html
  %head
    = render :header
  %body
    %div{:"data-role" => 'page', id: 'index'}
      %div{:'data-role' => 'content'}
      = navigation "Forside"        
        
    %div{:"data-role" => 'page', id: 'pictures' }
      %div{:'data-role' => 'header', :'data-position' => 'fixed'}
        %div{:'data-role' => 'navbar'}
          %ul
            %li
              %a{href: "#", id: 'take_picture_button'}
                Tag billede
            %li
              %a{href: "#", id: 'take_picture_button'}
                Upload billede


      %div{:'data-role' => 'content'}
        = render 'pictures'
      = navigation "Billeder"

    %div{:"data-role" => 'page', id: 'info'}      
      %div{:'data-role' => 'content'}
      = navigation "Praktisk Info" 

    = render :javascript
