%html
  %head
    = render :header
  %body
    %div{:"data-role" => 'page'}
      = render :navigation
      %h1
        Line og Jakobs bryllupsapp

    %div{:"data-role" => 'page'}      
      = render :navigation

    %div{:"data-role" => 'page'}      
      = render :navigation

    = render :javascript
