%html
  %head
    = render :header
  %body
    %div{:"data-role" => 'page', id: 'index'}
      = header "L&J bryllupsapp"
      %div{:'data-role' => 'content'}
        
    %div{:"data-role" => 'page', id: 'pictures' }
      = header "Billeder"
      %div{:'data-role' => 'content'}
        = render 'pictures'

    %div{:"data-role" => 'page', id: 'info'}      
      = header "Praktisk info"
      %div{:'data-role' => 'content'}

    = render :javascript
